{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Yaplist - Yet Another Playlist - is a tool to allow users to create, compile and share Playlists from Youtube.">
      <meta name="author" content="Arjinium">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{% static 'css/custom.css' %}" rel="stylesheet">
      <!-- Font Awesome Iconography -->
      <script src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    {% endblock %}

    {% block stylesheet %}
    {% endblock %}

    <title>{% block title %}Yaplist{% endblock %}</title>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_accounts:signout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_accounts:signin' %}">Signin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_accounts:signup' %}">Signup</a>
              </li>
            </li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted" href={% url 'home' %}>Yaplist</h3>
      </div>

      <div class="container">
        {% block content %}{% endblock %}
      </div>

      <footer class="footer">
        <p>
          Copyright &COPY; 2015 ARJinium
        </p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
