
{% extends 'base.html' %}
{% load static %}

{% block title %}Edit - Playlist{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="text-center"> 
      <a role="button" href="{% url 'dashboard' %}" class="btn btn-secondary">View Playlists</a>
      <a role="button" href="{% url 'playlist:create' %}" class="btn btn-secondary">Add Playlist</a>
    </div>

    <div class="row marketing">
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label>Playlist Name</label>
            {{ playlist_form.title }}
            {% if playlist_form.title.errors %}
                {% for error in playlist_form.title.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ item_formset.management_form }}

            {% for item_form in item_formset %}
                {% for hidden in item_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="link-formset">
                    {{ item_form.link }}
                    {% if item_form.link.errors %}
                        {% for error in item_form.link.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if item_formset.non_form_errors %}
            {% for error in item_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}

        <input type="submit" value="Update" class="button"/>
    </form>
    </div>
{% endblock content %}
