{% extends 'base.html' %}
{% load static %}

{% block title %}Edit - Playlist{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label>First Name</label>
        {{ profile_form.first_name }}
        {% if profile_form.first_name.errors %}
            {% for error in profile_form.first_name.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}

        <label>Last Name</label>
        {{ profile_form.last_name }}
        {% if profile_form.last_name.errors %}
            {% for error in profile_form.last_name.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}

        {{ link_formset.management_form }}

        {% for link_form in link_formset %}
            <div class="link-formset">
                {{ link_form.anchor }}
                {% if link_form.anchor.errors %}
                    {% for error in link_form.anchor.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}

                {{ link_form.url }}
                {% if link_form.url.errors %}
                    {% for error in link_form.url.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {% if link_formset.non_form_errors %}
            {% for error in link_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}

        <input type="submit" value="Update Profile" class="button"/>
    </form>

    <!-- Include formset plugin - including jQuery dependency -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'path_to/jquery.formset.js' %}"></script>
    <script>
        $('.link-formset').formset({
            addText: 'add link',
            deleteText: 'remove'
        });
    </script>

{% endblock content %}
