{% extends 'base.html' %}
{% load static %}

{% block title %}Playlist{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css">
  <script src="https://unpkg.com/plyr@3/dist/plyr.min.js"></script>
{% endblock %}

{% block javascript %}

<script>
  var playlist_counter = 0;
  var item_data_list = {{ item_codes | safe }};
  var initial_video = item_data_list[playlist_counter];

  function incrementCounter() {
    if (playlist_counter + 1 >= item_data_list.length) {
      playlist_counter = 0;
    } else {
      playlist_counter++;
    }
  }

  $('#vplayer').attr('data-plyr-embed-id', item_data_list[0].code);
  $('#vplayer').attr('data-plyr-provider', item_data_list[0].service);


  const player = new Plyr('#vplayer', {});

  player.on('ended', function() {
    incrementCounter();
    var src_code = item_data_list[playlist_counter].code;
    var provider = item_data_list[playlist_counter].service;
    player.source = {
      type: 'video',
      sources: [
        {
          src: src_code,
          provider: provider
        },
      ],
    };

    player.on('ready', function() {
      player.play();
    });
  });

  elms = document.querySelectorAll('#playlist-preview li');

  for(var i = 0; i < elms.length; i++) {
    selectVideo('click', elms[i], i, player);
  }

  function selectVideo(evt, el, idx, player) {
    return el.addEventListener(
      evt,
      function(){
        playlist_counter = idx;
        var new_src_code = item_data_list[playlist_counter].code;
        var new_provider = item_data_list[playlist_counter].service;
        player.source = {
          type: 'video',
          sources: [
            {
              src: new_src_code,
              provider: new_provider
            },
          ],
        };
      },
      false
    );
  }
</script>
{% endblock javascript%}

{% block content %}
<div class="text-center"> 
  <a role="button" href="{% url 'dashboard' %}" class="btn btn-secondary">View Playlists</a>
  <a role="button" href="{% url 'playlist:create' %}" class="btn btn-secondary">Add Playlist</a>
</div>

<div class="row marketing">
  <div class="col-md-12">
    <div id="vplayer" data-plyr-provider="" data-plyr-embed-id=""></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul id="playlist-preview" class="list-group">
      {% for index, item in item_preview.items %}
        <li class="list-group-item" videocode="{{ item.code }}" index="{{ index }}">
          <a href="#">
            <span class="img">
             <img class="img-thumbnail" src="{{ item.thumbnail_url }}" alt="">
            </span>
            <span class="name">
             {{ item.title|truncatechars:60 }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}