{% extends 'base.html' %}

{% block title %}Sign up - Yaplist{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign up for Yaplist</h3>
        </div>
        <div class="panel-body">
          <form action="{% url 'user_accounts:signup' %}" method="post">
            {% csrf_token %}
            <div class="panel-group{% if form.username.errors %} has-error{% endif %}">
              <label class="control-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
              <input type="text" class="form-control" value="{{ form.username.value|default_if_none:'' }}" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" maxlength="{{ form.username.field.max_length }}">
              <span class="help-block">(Usernames may contain <strong>alphanumeric</strong>, <strong>_</strong> and <strong>.</strong> characters)</span>
              {% for error in form.username.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="panel-group{% if form.email.errors %} has-error{% endif %}">
              <label class="control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
              <input type="email" class="form-control" value="{{ form.email.value|default_if_none:'' }}" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" maxlength="{{ form.email.field.max_length }}">
              {% for error in form.email.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="panel-group{% if form.password.errors %} has-error{% endif %}">
              <label class="control-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
              <input type="password" class="form-control" value="{{ form.password.value|default_if_none:'' }}" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}">
              {% for error in form.password.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="panel-group{% if form.confirm_password.errors %} has-error{% endif %}">
              <label class="control-label" for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
              <input type="password" class="form-control" value="{{ form.confirm_password.value|default_if_none:'' }}" id="{{ form.confirm_password.id_for_label }}" name="{{ form.confirm_password.html_name }}">
              {% for error in form.confirm_password.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">Create an account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}