{% extends 'base.html' %}

{% block title %}Sign in - Yaplist{% endblock %}

{% block content %}
  <div class="row marketing">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign in</h3>
        </div>
        <div class="panel-body">
          <form method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
              <label class="control-label" for="id_username">Username:</label>
              <input class="form-control" type="text" id="id_username" name="username">
            </div>
            <div class="form-group">
              <label class="control-label" for="id_password">Password:</label>
              <input class="form-control" type="password" id="id_password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>    
        </div>
      </div>
    </div>
  </div>
{% endblock content %}