{% extends 'base.html' %}

{% block title %}Yaplist{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-2">Keep On Playing!</h1>
    <p class="lead">Collect your favourite Youtube videos in one place</p>
    <p><a class="btn btn-lg btn-success" href="{% url 'user_accounts:signup' %}" role="button">Sign Up</a></p>
  </div>

  <div class="row marketing">
    <div class="col-md-3">
      <i class="fas fa-asterisk fa-7x"></i>
    </div>
    <div class="col-md-9">
      <h4>Create</h4>
      <p>Create and store collections of your favourite Youtube videos effortlessly!</p>
    </div>
  </div>
  <div class="row marketing">
    <div class="col-md-9">
      <h4>Manage</h4>
      <p>View and edit all your collections conveniently in one place.</p>
    </div>
    <div class="col-md-3">
      <i class="fas fa-bolt fa-7x"></i>
    </div>
  </div>
{% endblock %}