{% extends 'base.html' %}

{% block title %}Dashboard - Yaplist{% endblock %}

{% block content %}
<div class="text-center"> 
  <a role="button" href="{% url 'dashboard' %}" class="btn btn-secondary">View Playlists</a>
  <a role="button" href="{% url 'playlist:create' %}" class="btn btn-secondary">Add Playlist</a>
</div>

<div class="row marketing">
  <div class="col-md-12">
    <ul id="playlist-list-group" class="list-group">
      {% for playlist in user_playlists %}
        <li class="list-group-item">
          <a href="{% url 'playlist:playlist' playlist.id %}">
            <span class="far fa-play-circle fa-4x" style=" vertical-align: middle;"></span>
          </a>
          <span>
            {{ playlist.title|truncatechars:60 }}
          </span>
          <span class="badge badge-primary">
            {{ playlist.item_set.all|length }} Videos
          </span>
          <form class="form-horizontal float-right" method="post" action="{% url 'playlist:delete' playlist.id %}">
            {% csrf_token %}
            <div class="control-group">
                <div class="controls">
                  <a href={% url 'playlist:edit' playlist.id %}>
                    <button type="button" class="btn btn-outline-primary btn-sm">
                      Edit
                    </button>
                  </a>
                  <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </div>
            </div>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}